h2 {
    background-color: rgb(224, 180, 188);
    border: solid 2px palevioletred;

}

p {
    background-color: rgb(168, 77, 115);
    padding-top: 20px;
}

table {
    border: solid 3px rbg(16, 31, 96);
    width: 70%;
}

td {
    background-color: blanchedalmond;
    padding: 30px;
}